{{>header}}
<!--StyleSheets-->
<link rel="stylesheet" href="/css/choicepage.css" />

<title>Hunger Free</title>
</head>

<body style="background-color: black;">
  <!--this is navbar-->
  {{>navbar}}




  <h4 class="heading">Who are you? Pick One to Login</h4>
  <div class="container">
    <div class="form-box">
      <h6 class="new">I'm a Restaurant</h6>
      <img src="img/veggies.png" class="image" /><a href="/restaurant_register_page"><button type="submit"
          class="button btn-dark btn-lg">
          Restaurnt Login
        </button></a>
    </div>
    <div class="form-box">
      <h6 class="new">I'm an NGO</h6>
      <img src="img/veggies.png" class="image" /><a href="/ngoregister"><button type="submit"
          class="button btn-dark btn-lg">
          User Login
        </button></a>
    </div>
  </div>
</body>

</html>