{{>header}}
<!-- StyleSheets -->
<link rel="stylesheet" href="/css/home.css" />
<link rel="stylesheet" href="/css/index.css">
<link rel="stylesheet" href="/css/navbar.css">
<title>HungerFree</title>
</head>

<body>
  <!-- this is navbar -->
  {{>navbar}}

  <section class="first-section" style="background-color: black;">

    <div class="jumbotron" id="front_img">
      <div class="container">
        <h1>
          Together,
          <br />
          we can
          <br />
          feed
          <br />
          everyone! 
        </h1>
      </div>
    </div>
    
    <section class="counting_no_section">
      <div class="andr">
      <div class="counter-container">
        <div class="counter">
          <b data-target="316" class="count">0</b> M +
          <h6>Tonnes of food is produced in India</h6>
        </div>

        <div class="counter">
          <b data-target="126" class="count">0</b> M +
          <h6>Tonnes of food is wasted in India</h6>
        </div>

        <div class="counter">
          <b data-target="190" class="count">0</b> M +
          <h6>Indian population remains malnutritioned</h6>
        </div>
      </div>
    </div>

    </section>


  </section>
  <!-- collage-->

  <div class="coll">
    <div class="talk">
    <img src="img/coll.png" />
    </div>
    <div class="talk">
    <p >
      Every ninth person in the world is hungry,
      according to the World Food Programme. A staggering 800 Million People
      in the world go to the bed hungry every day, based on an estimated world
      population of 7.6 Billion.
    </p>
  </div>
  </div>


  <section class="wasting-food">
    <img src="img/wasting-food-img.png" alt="wasting food img" />
    <h2>
      However, for people who are not even able to eat one meal a day, often
      wonder if all the food that is being wasted around them on a daily basis
      could have filled their stomach.
    </h2>
  </section>



  <section class="quote">
    <p>"We know that a peaceful world cannot exist one-third rich and two-thirds hungry."</p>

    
  </section>



  <section id="share-food" class="sharing">
    <img src="img/sharing-img.png" alt="sharing food" />

    <h2><strong>Share Food</strong></h2>
    <p>
        Why is it that some people have so much
        food that it goes to waste, and why is it that
        some people have to go to bed without even
        being able to have a meal per day? It's high time
        when we start thinking about those unpriviledged people and help them.
        <br> So want to help us out?
    </p>

  </section>

  

  <!-- <section class="showcase">
  <video src="/video/ok.mp4" muted loop autoplay ></video>
  <div class="overlay"></div>
  <div class="container text">
    <p>Lets make our world hunger free</p>
    <p>Together We Can</p>
  </div>
  </section> -->


  <!-- Footer of the project -->
  <div class="my-5 footer_background_design">
    <footer>
      <div class="container footer_background_design">
        <div class="company_heading"><strong>HungerFree</strong></div>
        <div class="media_handles_design">
          <div class="container">
            <div></div>
            <div class="container">
              <table class="socials_design">
                <tr class="social_design_row">
                  <td><i class="fab fa-facebook"></i></td>
                  <td><i class="fab fa-twitter"></i></td>
                  <td><i class="fab fa-linkedin-in"></i></td>
                  <td><i class="fab fa-linkedin-in"></i></td>
                </tr>
              </table>
            </div>
            <p class="plain_text">Follow us to keep yourself updated.</p>
            <p class="quote_design">"Hunger Free is for <br> saving and sharing."</p>

            <p class="quote_design">"In this country that grows more food <br>
              than any other nation, it is unthinkable <br>
              that any child should go hungry."</p>


          </div>
        </div>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <table class="footer_table_design">

          <tr>
            <td>Company</td>
            <td>Contact Us</td>
            <td>Home</td>
            <td>About Us</td>
          </tr>
          <tr>
            <td>Software</td>
            <td>Maria Anders</td>
            <td>Something</td>
            <td>Germany</td>
          </tr>
          <tr>
            <td>Our Plans</td>
            <td>Learn with</td>
            <td>Join Us</td>
            <td>Mexico</td>
          </tr>
          <tr>
            <td>Company</td>
            <td>Contact Us</td>
            <td>Home</td>
            <td>About Us</td>
          </tr>

        </table>

        <p class="copyright_format">&#169; &nbsp; 2021 HungerFree. All Rights Reserved.</p>
      </div>
    </footer>



  </div>
  <script type="text/javascript" src="js/homepage.js"></script>
  <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
  <script type="text/javascript">
    $('div').mousemove(function(a){
    var mouseX =  (a.pageX*-1/300);
    var mouseY =  (a.pageY*-1/200);
    $(this).css('background-position',mouseX+'px '+mouseY+'px ')
  })</script>

</body>

</html>