{{>header}}

<!-- styleSheet -->
<link rel="stylesheet" href="/css/navbar.css" />
<link rel="stylesheet" href="/css/ngoviewpage.css" />
<link rel="stylesheet" href="/css/index.css" />
<title>Ngo View Page</title>

</head>

<body>

    {{>navbar}}

</body>
</html>