{{>header}}
<!-- styleSheet -->
<link rel="stylesheet" href="/css/ngoregister.css">
<title>Ngo Register</title>
</head>

<body>
    {{>navbar}}

        <div class="split-screen">
            <div class="left">
                <section class="copy">
                    <h1>Join Us</h1>
                </section>
            </div>

            <form class="form-group" action="/ngoregister" method="post"></form>
            <div class="right">
                <div class="card my-card">
                    <div class="px-5 card-body">
                        
                            <section class="copy">
                                <h2 class="heading">Join Us</h2>
                                <div class="login-container">
                                    <p>Already have an account?<a href="/ngoLogin"><strong>Log In</strong></a></p>
                                </div>
                            </section>
                            <div class="form-group name">
                                <label for="ngoName">NGO Name</label>
                                <input class="form-control" id="ngoName" name="ngoName" type="text" placeholder="Enter NGO Name" required>
                            </div>
                            <div class="form-group name">
                                <label for="adminName">Admin Name</label>
                                <input class="form-control" id="adminName" name="adminName" type="text" placeholder="Enter Admin Name" required>
                            </div>
                            <div class="form-group name">
                                <label for="email">Email</label>
                                <input class="form-control" id="email" name="email" type="email" placeholder="Enter Email" required>
                            </div>
                            <div class="form-group name">
                                <label for="password">Password</label>
                                <input class="form-control" id="password" name="password" placeholder="Must be atleast 6 characters" type="password" required>
                                <i class="far fa-eye-slash"></i>
                            </div>
                            <input type="submit" class="btn btn-block btn-color" value="Register">
                            {{!-- <section class="copy legal">
                                <p><span class="small">By continuing, you agree to accept our <br><a href="#">Privacy
                                            Policy</a>&amp;<a href="">Terms Of Service</a>.</span></p>
                            </section> --}}
                        </form>
                    </div>
                </div>
            </div>
        </div>
        
        
    </div>
    
        
</body>

</html>