{{>header}}

<!-- styleSheet -->
<link rel="stylesheet" href="/css/navbar.css" />
<link rel="stylesheet" href="/css/ngoviewpage.css" />
<title>Ngo View Page</title>

</head>

<body>

    {{>navbar}}
    <div class="container">

        <form action="/logout" method="post">
            <input type="submit" class="btn btn-lg btn-success" value="Logout">
        </form>
        <div class="inner_box">
            <div class="heading">
                <div class="icon">  <img src="/img/startingphoto.png"></div>
                <div class="name">  <h1 > Name of the Ngo</h1>
                                    <p class="bio"> Our view and goal is to remove hunger. </p>

                </div>

                <table class="info">
                    <tr>
                        <td><i class="fa fa-phone" aria-hidden="true"></i> &nbsp 120-234568</td>
                        <td><i class="fa fa-envelope" aria-hidden="true"></i> &nbsp ngo_name@gmail.com </td>
                        <td><i class="fa fa-map-marker" aria-hidden="true"></i> &nbsp cityname country </td>
                        <td><i class="fa fa-comment" aria-hidden="true"></i> &nbsp other details</td>
                    </tr>
                </table>
            </div>
        </div>


    </div>



</body>
</html>