{{>header}}
<!--StyleSheets-->
<link rel="stylesheet" href="/css/ngoviewpage.css" />


<title>Hunger Free</title>
</head>

<body>
  <!--this is navbar-->
  {{>navbar}}

  <form action="/logout" method="post">
    <input type="submit" class="btn btn-lg btn-dark" value="Log Out">
  </form>

  <div class="container">

  
  <div class="inner_box">
    <div class="heading">
        <div class="icon">  <img src="/img/startingphoto.png"></div>
        <div class="name">  <h1 >Restaurant Name</h1>
                            <p class="bio"> Our view and goal is to remove hunger. </p>

        </div>

        <table class="info">
            <tr>
                <td><i class="fa fa-phone" aria-hidden="true"></i> &nbsp 120-234568</td>
                <td><i class="fa fa-envelope" aria-hidden="true"></i> &nbsp ngo_name@gmail.com </td>
                <td><i class="fa fa-map-marker" aria-hidden="true"></i> &nbsp cityname country </td>
                <td><i class="fa fa-comment" aria-hidden="true"></i> &nbsp other details</td>
            </tr>
        </table>

        <p></p>
        <p></p>
        <p></p>

        <table>
            <tr>
                <td>
                <div class="bar">
                    <div class="restaurant_icon">  <img src="/img/startingphoto.png"></div>
                    <div class="meta_restaurant">  
                        <h4>Name of the Restaurant</h4>
                        <p>Availabilty of the following food with upto 5 plates per person each.
                            A restaurant (sometimes known as a diner) is a place where cooked food is sold to the public, and where people sit 
                            down to eat it. It is also a place where people go to enjoy the time and to eat a meal. 
                            Some restaurants are a chain, meaning that there are restaurants which have the same name and serve the same food.
                        <a href="/readmore">read more</a> </p>
                    </div>

                </div>
            </td>
            </tr>
            <tr>
                <td>
                    <div class="bar">
                        <div class="restaurant_icon">  <img src="/img/startingphoto.png"></div>
                        <div class="meta_restaurant">  
                            <h4>Name of the Restaurant</h4>
                            <p>Availabilty of the following food with upto 5 plates per person each.
                                A restaurant (sometimes known as a diner) is a place where cooked food is sold to the public, and where people sit 
                                down to eat it. It is also a place where people go to enjoy the time and to eat a meal. 
                                Some restaurants are a chain, meaning that there are restaurants which have the same name and serve the same food. </p>
                        </div>

                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="bar">
                        <div class="restaurant_icon">  <img src="/img/startingphoto.png"></div>
                        <div class="meta_restaurant">  
                            <h4>Name of the Restaurant</h4>
                            <p>Availabilty of the following food with upto 5 plates per person each.
                                A restaurant (sometimes known as a diner) is a place where cooked food is sold to the public, and where people sit 
                                down to eat it. It is also a place where people go to enjoy the time and to eat a meal. 
                                Some restaurants are a chain, meaning that there are restaurants which have the same name and serve the same food. </p>
                        </div>

                    </div>
                </td>
            </tr>
        </table>
    </div>
</div>

        

</div>