{{>header}}

<!-- styleSheet -->
<link rel="stylesheet" href="/css/navbar.css" />
<link rel="stylesheet" href="/css/index.css" />
<link rel="stylesheet" href="/css/aboutus.css" />
<title>ReadMore</title>

</head>

<body>
{{>navbar}}
<img src="img/boy.png"/>
<h1> Name of the restaurant </h1>
<p> Hmare yaha kaffi zyada food waste hoo rha hai. hmare pss bohot kuch hai , uski details hai
    food items, food items. lopersum  
</p>


</body>
</html>
