{{>header}}
<!--StyleSheets-->
<link rel="stylesheet" href="/css/navbar.css" />

<title>Hunger Free</title>
</head>

<body>
  <!--this is navbar-->
  {{>navbar}}
  <form action="/logout" method="post">
    <input type="submit" class="btn btn-lg btn-dark" value="Log Out">
  </form>