{{>header}}
<!--css files-->
<link rel="stylesheet" href="/css/index.css">
<link rel="stylesheet" href="/css/home.css">
<link rel="stylesheet" href="/css/login.css">
<link rel="stylesheet" href="/css/restaurant_register_page.css">
<title>Document</title>
</head>

<body>

  {{> navbar}}
  <br>

  <div class="container">
    <div class="right">
      
       
          <section>
            <form action="/restaurantRegisterPage" method="post"></form>
            <h2 class="heading">Join Us</h2>
            <div class="login-container">
              <p style="text-align:center;">
                Already have an account?<a href="/restaurantLogin"><strong>Log In</strong></a>
              </p>
            </div>
          </section>
          {{!-- <form action="/restaurantRegisterPage" method="post"> --}}
          <div class="input-container name form-group">
            <label for="restaurantName">Restaurant Name</label>
            <input id="restaurantName" class="form-control" name="restaurantName" type="text" placeholder="Enter Restaurant Name" required/>
          </div>
          <div class="input-container name form-group">
            <label for="adminName">Admin Name</label>
            <input id="adminName" class="form-control" name="adminName" type="text" placeholder="Enter Admin Name" required/>
          </div>
          <div class="input-container name form-group">
            <label for="location">Location</label>
            <input id="location" class="form-control" name="location" type="text" placeholder="Enter Restaurant Location" required/>
          </div>

          <div class="input-container name">
            <label for="email" class="form-group">Email ID</label>
            <input id="email" class="form-control" name="email" type="email" placeholder="Enter Email" required/>
          </div>
          <div class="input-container name">
            <label for="password" class="form-group">Password</label>
            <input id="password" class="form-control" name="password" placeholder="Must be atleast 6 characters" type="password" required/>
           <br>
           <br>
          </div>
          <input type="submit" class="signup-btn" value="Register">
          {{!-- <button class="signup-btn" type="submit">Register</button> --}}
        </form>
          <section class="copy legal">
            <p>
              <span class="small">By continuing, you agree to accept our <br /><a href="#">Privacy Policy</a>&amp;<a
                  href="">Terms Of Service</a>.</span>
            </p>
          </section>
        
      
    </div>
    <div class="left">
    </div>
  </div>
</body>

</html>