{{>header}}

<!-- styleSheet -->
<link rel="stylesheet" href="/css/navbar.css" />
<link rel="stylesheet" href="/css/index.css" />
<link rel="stylesheet" href="/css/aboutus.css" />
<title>ReadMore</title>

</head>

<body>
{{>navbar}}
<img src="img/boy.png"/>



</body>