{{>header}}
<!--css files-->
<link rel="stylesheet" href="/css/index.css">
<link rel="stylesheet" href="/css/home.css">
<link rel="stylesheet" href="/css/login.css">
<link rel="stylesheet" href="/css/navbar.css">
<link rel="stylesheet" href="/css/restaurant_register_page.css">
<title>Document</title>
</head>

<body>

  {{> navbar}}
  <br>

  <div class="container">
    <div class="right">
      
       
          <section>
            <h2 class="heading">Join Us</h2>
            <div class="login-container">
              <p style="text-align:center;">
                Already have an account?<a href="/login"><strong>Log In</strong></a>
              </p>
            </div>
          </section>
          <form>
          <div class="input-container name">
            <label for="fname">Restaurant Name</label>
            <input id="fname" name="fname" type="text" />
          </div>
          <div class="input-container name">
            <label for="fname">Admin Name</label>
            <input id="fname" name="fname" type="text" />
          </div>
          <div class="input-container name">
            <label for="fname">Location</label>
            <input id="fname" name="fname" type="text" />
          </div>

          <div class="input-container name">
            <label for="email">Email ID</label>
            <input id="email" name="email" type="email" />
          </div>
          <div class="input-container name">
            <label for="password">Password</label>
            <input id="password" name="password" placeholder="Must be atleast 6 characters" type="password" />
           <br>
           <br>
          </div>
          <button class="signup-btn" type="submit">Register</button>
        </form>
          <section class="copy legal">
            <p>
              <span class="small">By continuing, you agree to accept our <br /><a href="#">Privacy Policy</a>&amp;<a
                  href="">Terms Of Service</a>.</span>
            </p>
          </section>
        
      
    </div>
    <div class="left">
    </div>
  </div>
</body>

</html>