<div class="navbar nav_design sticky-top">
    <div class="container">
        <div class="logo"><strong><a href="/">HungerFree</a></strong></div>
        <div class="keys">
            <ul>
                <li>
                    <a href="/choicepage"><button style="
                  background-color: black;
                  color: white;
                  font-weight: bold;
                  border: none;
                  border-radius: 5px;
                ">
                            Register <i class="fas fa-angle-double-right"></i>
                        </button></a>
                </li>
                <li><a href="/ngoviewpage">About</a></li>
                <li>Share Food</li>
                <li>News</li>
                <li>About</li>
            </ul>
        </div>
    </div>
</div>


