<div class="navbar nav_design sticky-top">
    <div class="container">
        <div class="logo"><strong><a href="/">HungerFree</a></strong></div>
        <div class="keys">
            <ul>
                {{#if normal}}
                <li>
                <a href="/choicepage"><button style="
                  background-color: black;
                  color: white;
                  font-weight: bold;
                  border: none;
                  border-radius: 5px;">
                            Register <i class="fas fa-angle-double-right"></i>
                        </button></a>
                </li>

                    
                <li>
                    <div class="open-menu">
                        <button class="menu-btn">
                            Login As <i class="fa fa-sign-in" aria-hidden="true"></i>
                        </button>

                        <div class="list">
                            <a href="/restaurantLogin"><i class='fas fa-bread-slice'></i> &nbsp Restaurant Login</a>
                            <br>
                            <a href="/ngoLogin"><i class='fas fa-seedling'></i> &nbsp NGO Login</a>
                        </div>
                    </div>
                </li>
                
                
                
                
                {{else}}
                <li>
                    <form action="/logout" method="post">
                        <button type="submit" style="background-color: black; color: white; font-weight: bold; border: none; border-radius: 5px;">
                            LogOut <i class="fas fa-angle-double-right"></i>
                        </button>
                    </form>
                </li>
                {{/if}}
                <li><a href="#share-food">Share Food</a></li>
                <li><a href="https://hungermap.wfp.org/">Analytics</a></li>
                <li><a href="/news">News</a></li>
                <li><a href="/aboutus">About Us</a></li>
            </ul>
        </div>
    </div>
</div>


