<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
        integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap" rel="stylesheet">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;700&family=Rubik+Mono+One&family=Sacramento&display=swap"
        rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;700&family=Sacramento&display=swap"
        rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;700&family=Sacramento&display=swap"
        rel="stylesheet">

    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <!-- styleSheet -->
    <link rel="stylesheet" href="/css/ngoregister.css">
    <title>Ngo Register</title>
</head>

<body>
    <div class="navbar nav_design">
        <div class="container">
            <div class="logo"><strong>HungerFree</strong></div>
            <div class="keys">
                <ul>
                    <li><a href="/choicepage"><button
                            style="background-color: black; color:white; font-weight:bold; border:none; border-radius:5px; ">Register
                            <i class='fas fa-angle-double-right'></i> </button></a></li>
                    <li>About</li>
                    <li>Home</li>
                    <li>News</li>
                    <li>Donate</li>
                </ul>
            </div>
        </div>
    </div>

    <div class="split-screen">
        <div class="left">
            <section class="copy">
                <h1>Join Us</h1>
            </section>
        </div>
        <div class="right">
            <form action="">
                <section class="copy">
                    <h2>Register Here</h2>
                    <div class="login-container">
                        <p>Already have an account?<a href="#"><strong>Log In</strong></a></p>
                    </div>
                </section>
                <div class="input-container name">
                    <label for="fname">Full Name</label>
                    <input id="fname" name="fname" type="text">
                </div>
                <div class="input-container name">
                    <label for="email">Email</label>
                    <input id="email" name="email" type="email">
                </div>
                <div class="input-container name">
                    <label for="password">Password</label>
                    <input id="password" name="password" placeholder="Must be atleast 6 characters" type="password">
                    <i class="far fa-eye-slash"></i>
                </div>
                <button class="signup-btn" type="submit">Register</button>
                <section class="copy legal">
                    <p><span class="small">By continuing, you agree to accept our <br><a href="#">Privacy
                                Policy</a>&amp;<a href="">Terms Of Service</a>.</span></p>
                </section>
            </form>
        </div>
    </div>
</body>

</html>