<!DOCTYPE html>
<html lang="en">
  <head>
    <!--here -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
    <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap" rel="stylesheet">
   
    <!--bootstrap and fontawesome related tags-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;700&family=Rubik+Mono+One&family=Sacramento&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;700&family=Sacramento&display=swap" rel="stylesheet">
    <link href="/your-path-to-fontawesome/css/all.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;700&family=Sacramento&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <!--till here-->
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    

     <!--css files-->
     <link rel="stylesheet" href="/css/index.css">
     <link rel="stylesheet" href="/css/home.css">
     <link rel="stylesheet" href="/css/login.css">
     <link rel="stylesheet" href="/css/navbar.css">
     <link rel="stylesheet" href="/css/restaurant_register_page.css">
    <title>Document</title>
  </head>
  <body>
    
      <div class="navbar nav_design">
        <div class="container">
            <div class="logo"><strong>HungerFree</strong></div>
            <div class="keys">
                <ul>
                <li><a href="choicepage.html"><button style="background-color: black; color:white; font-weight:bold; border:none; border-radius:5px; ">Register <i class='fas fa-angle-double-right' ></i> </button></a></li>
                <li>About</li>
                <li>Home</li>
                <li>News</li>
                <li>Donate</li>
            </ul></div>
        </div>
    </div>
    <br>
    <div class= "split-screen">
      <div class="right">
        <section class="copy">
          <form action="">
            <section class="copy">
              <h2>Register Here</h2>
              <div class="login-container">
                <p>
                  Already have an account?<a href="#"><strong>Log In</strong></a>
                </p>
              </div>
            </section>
            <div class="input-container name">
              <label for="fname">Restaurant Name</label>
              <input id="fname" name="fname" type="text" />
            </div>
            <div class="input-container name">
              <label for="fname">Admin Name</label>
              <input id="fname" name="fname" type="text" />
            </div>
            <div class="input-container name">
              <label for="fname">Location</label>
              <input id="fname" name="fname" type="text" />
            </div>
  
            <div class="input-container name">
              <label for="email">Email ID</label>
              <input id="email" name="email" type="email" />
            </div>
            <div class="input-container name">
              <label for="password">Password</label>
              <input
                id="password"
                name="password"
                placeholder="Must be atleast 6 characters"
                type="password"
              />
              <i class="far fa-eye-slash"></i>
            </div>
            <button class="signup-btn" type="submit">Register</button>
            <section class="copy legal">
              <p>
                <span class="small"
                  >By continuing, you agree to accept our <br /><a href="#"
                    >Privacy Policy</a
                  >&amp;<a href="">Terms Of Service</a>.</span
                >
              </p>
            </section>
          </form>
        </section>
      </div>
      <div class="left">
      </div>
    </div>
  </body>
</html>
