body{
  background-color: black;
}

.h {
  height: 100%;
  width: 100%;
  color: white;
}

.form-box {
  width: 45%;
  height: 60%;
  background: white;
  padding: 5px;
  display: inline-block;
  border-radius: 19px;
  padding: 50px;
  text-align: center;
  margin-left: 2%;
  margin-right:2%;
}

.box {
  width: 70%;
  margin-left:auto;
  margin-right:auto;
}
.heading {
  margin-top:3%;
  color: white;
  text-align:center;
}
.image {
  height: 50%;
  width: 70%;
  margin-right: auto;
  margin-left: auto;
  display: block;
}
.new {
  margin-bottom: 15px;
  font-size: 30px;
  font-family: Sacramento;
  font-weight:bold;
}
.button {
  margin-top: 25%;
  background-color:black;
  font-weight: bold;
}
