.h {
  height: 100%;
  width: 100%;
  color: white;
}
.form-box {
  width: 48%;
  height: 500px;
  position: relative;
  margin: 6% auto;
  background: white;
  padding: 5px;
  display: inline-block;
  border-radius: 19px;
  padding: 50px;
  text-align: center;
}
.container {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  justify-content: right;
}
.heading {
  color: white;
  padding-top: 20px;
  text-align:center;
}
.image {
  height: 50%;
  width: 70%;
  
  margin-right: auto;
  margin-left: auto;
  display: block;
}
.new {
  margin-bottom: 15px;
  font-size: 30px;
  font-family: Sacramento;
  font-weight:bold;
}
.button {
  margin-top: 25%;
  background-color:black;
  font-weight: bold;
}





/*navbar*/
.nav_design {
  background-color: #fdd400;
}
.logo {
  font-family: Rubik Mono One;
  float: left;
  color: black;
  font-size: 1.1em;
}
.keys li {
  padding: 0em 1em 0em 1em;
  font-family: roboto;
  font-weight: bold;
  float: right;
  color: black;
}
ul li {
  text-decoration: none;
  list-style-type: none;
}
