body {
  padding: 0;
  margin: 0;
}

.wasting-food {
  background-color: black;
  color: white;
  display: inline-block;
}

.wasting-food img {
  margin: 5%;
  float: right;
}

.wasting-food h2 {
  margin:10%;
  font-family:Roboto;
  font-size:2em;
}

.sharing {

  
  padding:2em;
  background-color: white;
  height:70vh;
  
}

.sharing img {
  
  width: 30%;
  padding: 4%;
  padding-left: 0;
  border-radius: 45%;
  transform: rotate(7deg);
  float: left;
  margin:2%;
}

.sharing h2 {
  margin-top: 5%;
  font-family: Roboto;
  font-size: 3em;
 
}

.sharing p{
  font-family:roboto;
  word-wrap: break-word;
  font-size:2em;
  
}

/* navbar-css */

.nav_design {
  background-color: #fdd400;
}
.logo {
  font-family: Rubik Mono One;
  float: left;
  color: black;
  font-size: 1.1em;
}
.keys li {
  padding: 0em 1em 0em 1em;
  font-family: roboto;
  font-weight: bold;
  float: right;
  color: black;
}
ul li {
  text-decoration: none;
  list-style-type: none;
}
/* quote */
.quote {
  padding:2em;
  width: auto;
  background-color: #fdd400;
}
.quote p {
  font-size: 3rem;
  text-align: center;
  padding: 15px;
  font-weight: bold;
  padding:2em;
  font-family:Sacramento;

}


/* first-section */

.counting_no_section {
  background-color: black;
  width: 100%;
  margin: auto;
}
.counter-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 2em;
  color: rgb(245, 211, 18);
  padding:3em;
}

.counter-container b{
  font-size: 3em;
}
.counter-container h6{
  font-family: roboto;
  
}

/*coll*/

.coll {
  width: 600px;
  height: 400px;
  position: relative;
  font-family: "roboto";
}
.coll img {
  height:80vh;
  margin:5%;
}

.coll p{
  margin:5%;
  font-size:2em;
  font-family: roboto;

  
}