:root {
    font-size: 100%;
    font-size: 16px;
    line-height: 1.5;
    --primary-blue: #233975;
}

body{
    padding:0;
    margin:0;
    font-family: 'Montserrat',sans-serif;
    font-weight:500;
}

h1{
    font-size: 2.25rem;
    font-weight: 700;
}

h2{
    font-size: 1.5rem;
    font-weight: 700;
}

a{
    text-decoration:none;
    color: var(--primary-blue);
}

a:hover{
    text-decoration:underline;
}

.small{
    font-size:80%;
    text-align: center;
}

.split-screen{
    display:flex;
    flex-direction: column;
}

.left{
    height: 200px;
}

.left, .right{
    display:flex;
    justify-content:center;
    align-items: center;
}

.left{
    background: linear-gradient(rgba(0,0,0,0),rgba(0,0,0,1)),url('../img/rejoice.jpg');
    background-size: cover;
}

.left .copy {
    color: white;
    text-align: justify;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.left p{
    font-weight: 400;
}

.right .copy{
    color: black;
    text-align: center;
}

.right .copy p{
    margin: 1.5em 0;
    font-size: 0.875rem;
}

.right form{
    width: 328px;
}

form input[type="text"], form input[type="email"], form input[type="password"] {
    display: block;
    width: 100%;
    box-sizing: border-box;
    border-radius: 8px;
    border: 1px solid #c4c4c4;
    padding: 1em;
    margin-bottom: 1.25 rem;
    font-size: 0.875rem;
}

label{
    display: block;
    margin-bottom: 0.5rem;
    font-size: 0.75rem;
}

.input-container.password{
    position: relative;
}

.input-container.password i{
    position: absolute;
    top: 42px;
    right: 16px;
}

.signup-btn {
    display: block;
    width: 100%;
    background: #5BC607;
    color: white;
    font-weight: 700;
    border: none;
    padding: 1rem;
    border-radius: 8px;
    font-size: 0.75rem;
    text-transform: uppercase;
    letter-spacing: 0.5px;
}

.signup-btn:hover{
    background: green;
    cursor: pointer;
}

@media screen and (min-width : 900px) {
    .split-screen {
        flex-direction: row;
        height: 100vh;
    }

    .left, .right{
        display: flex;
        width: 50%;
        height:auto;
    }
}










/* navbar css */

.nav_design {
    background-color: #fdd400;
  }
  .logo {
    font-family: Rubik Mono One;
    float: left;
    color: black;
    font-size: 1.1em;
  }
  .keys li {
    padding: 0em 1em 0em 1em;
    font-family: roboto;
    font-weight: bold;
    float: right;
    color: black;
  }
  ul li {
    text-decoration: none;
    list-style-type: none;
  }
    