body{
    background-color:black;
}
.bar{
    background-color:#FDD400;
    border-radius: 12px;
    padding:5px;
    display:flex;
    flex-direction: row;
}

.heading{
    margin:10vh;
    
}
.inner_box{
    background-color:white;
    border-radius: 12px;
    margin-top:10vh;
    padding:1px;
}

.icon{
    margin:auto auto;
    
    
}

.icon img{
    border-radius:50%;
    height:20vh;
    width:20vh;
    border-color:black;
    display: block;
    margin-right: auto;
}

.info{
    padding:2em;
    margin:2em;
}

.info table tr td{
    text-align:center;
    padding:2em;
}

.restaurant_icon img{
    border:none;
    width:20vh;
    height:20vh;
    margin: 2em;

}

.td{
    text-align:center;
    padding:2em;
}

.meta_restaurant{
    text-align:left;
    margin:2em;
}

.meta_restaurant a{
    float:right;
    color:green;
}
.name{
    text-align:center;
    margin:2vh;

}

.space{
    margin-left:5vh;   
    
}
.spacing{
    margin-left:10vh;
    margin-right:10vh;
    margin-bottom:5vh;
    
}

.spacing tr{
    padding:5vh;
}


@media screen and (max-width: 800px) {
    .bar{
        background-color:#FDD400;
        border-radius: 12px;
        padding:5px;
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
  }