body{
    background-color:black;
}

.heading{
    margin:10vh;
}
.inner_box{
    background-color:white;
    border-radius: 12px;
    margin-top:20vh;
}

.icon{
    margin:auto auto;
    
}

.icon img{
    border-radius:50%;
    height:20vh;
    width:20vh;
    border-color:black;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top:6vh;
}

.info{
    padding:2em;
    margin:2em;
}

.info table tr td{
    text-align:center;
    padding:2em;
}

td{
    text-align:center;
    padding:2em;
}
.name{
    text-align:center;
    margin:2vh;

}
