body{
    background-color:black;
}
.bar{
    background-color:#FDD400;
    border-radius: 12px;
    padding:5px;
    display:flex;
}

.newheading{
    margin:1vh;
}
.heading{
    margin:10vh;
    margin-top:30vh;
    margin-left:18vh;
}
.inner_box{
    background-color:white;
    border-radius: 12px;
    margin-top:10vh;
    padding:1px;
}

.icon{
    margin:auto auto;
    
}

.icon img{
    border-radius:50%;
    height:20vh;
    width:20vh;
    border-color:black;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.info{
    padding:2em;
    margin:2em;
}

.info table tr td{
    text-align:center;
    padding:2em;
}

.restaurant_icon img{
    border:none;
    width:20vh;
    height:20vh;
    margin: 2em;

}

.td{
    text-align:center;
    padding:2em;
}

.meta_restaurant{
    text-align:left;
    margin:2em;
}
.name{
    text-align:center;
    margin:2vh;

}

.cover{
    background-color: aliceblue;
    border-radius: 12px;
    padding-top:10vh;
    height:180px;
}

.form{
    margin-right: 50px;
    background-color: #FDD400;
    padding:50px;
    border-radius: 15px;
    height:80%;
}